<div class="d3-pie-chart" #chart>
    <div class="aims-export-menu aims-export-menu-top-right amExportButton active">
        <ul>
            <li class="export-main"><a><span>menu.label.undefined</span></a>
                <ul>
                    <li><a><span>png</span></a></li>
                    <li><a><span>jpeg</span></a></li>
                    <li><a><span>json</span></a></li>
                    <li><a><span>csv</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- <div class="switch-wrapper-pie">
        <span style="font-weight:normal;">{{typeLabelUnselected}}</span>
        <label class="switch">
            <input type="checkbox" class="d3-type-bar" checked="false" (change)="changePieType($event)">
            <div class="slider"></div>
        </label>
        <span style="font-weight:normal;">{{typeLabelSelected}}</span>
    </div> -->
</div>