<div class="d3-topologytree-chart" #chart>
  <div class="aims-export-menu aims-export-menu-top-right amExportButton active">
    <ul>
      <li class="export-main"><a><span>menu.label.undefined</span></a>
        <ul>
          <li><a><span>png</span></a></li>
          <li><a><span>jpeg</span></a></li>
          <li><a><span>json</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>