<div class="container-fluid" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" [ngClass]="{'active': currentTab === 'dashboard'}"><a (click)="changeTab('dashboard')">Dashboard</a>
        </li>
        <li role="presentation" [ngClass]="{'active': currentTab === 'operations'}"><a (click)="changeTab('operations')">Operations</a>
        </li>

    </ul>
    <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/widget-monitoring-cnet">Home</a></li>
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/application-cnet">Application</a></li>
            </ol>
  </div>
    <div class="tab-content charts">
        <div *ngIf="currentTab === 'dashboard'" class="tab-pane fade active in">
            <div class="container-fluid">
               
                <div class="row">

                    <div class="col-md-6">
                        <div class="alert-container">
                            <div class="clearfix alert-heading">
                                <h5 class="text-center col-md-12">
                                    Alerts
                                    <span class="alert-icon" [tooltip]="myTooltip">{{totalAlerts}}</span>
                                </h5>
                                <div>
                                    <tooltip-content #myTooltip>
                                        <span class="icon-critical"></span> Critical: {{totalCritical}}<br />
                                        <span class="icon-high"></span> High: {{totalHigh}}<br />
                                        <span class="icon-warning"></span> Warning: {{totalWarning}}
                                    </tooltip-content>
                                </div>
                            </div>
                            <div class="tableSearch">
                                <input type="text" class="form-control" #gbAlertList pInputText size="50" placeholder="Search...">
                                <i class="fa fa-search filtersubmit"></i>
                            </div>
                            <div id="collapse1">
                                <div class="dataTable">
                                    <p-dataTable [value]="alertList" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gbAlertList" #dt>
                                        <p-column field="ip_address" mytype="type" header="Host" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a href="javascript:void(0)">
                                                    <u>{{ip_address}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="message" header="Description" [sortable]="true"></p-column>
                                        <p-column field="severity" header="Priority" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <span class="{{item[col.field]}}">{{item[col.field]}}</span>
                                            </template>
                                        </p-column>
                                        <p-column field="reportingtime" header="Time" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert-container">
                            <div class="clearfix alert-heading">
                                <h5 class="text-center">Events
                                    <span class="alert-icon">{{totalEvents}}</span>
                                </h5>
                            </div>
                            <div class="tableSearch">
                                <input type="text" class="form-control" #gbEvent pInputText size="50" placeholder="Search...">
                                <i class="fa fa-search filtersubmit"></i>
                            </div>
                            <div id="collapse1">
                                <div class="dataTable">
                                    <p-dataTable [value]="eventList" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gbEvent" #dt>
                                        <p-column field="ip_address" mytype="type" header="Host" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a href="javascript:void(0)">
                                                    <u>{{ip_address}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="message" header="Description" [sortable]="true"></p-column>
                                        <p-column field="eventtype" header="Event Type" [sortable]="true"></p-column>
                                        <p-column field="reportingtime" header="Time" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h5>CPU Usage</h5>
                            </div>
                            <div class="panel-body">
                                <area-chart data-id="applicationArea9" [observe]="cpuloadService.cpuLoadDataset" data-subscribe="cpuLoadDataset"  [options]="areaOptions" data-dropdown="true">
                                </area-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Memory Size</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <!--<h6>Table</h6>-->
                                <!--<pie-chart data-type="pie" data-subscribe="pieDataset" [options]="pieOptions"></pie-chart>-->
                                <line-chart data-id="applicationBar1" data-subscribe="memorySizeDataset" [observe]="memorySizeService.memorySizeDataset" [options]="lineOptions"> </line-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Response Time</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <area-chart data-type="area" data-id="applicationArea1" data-subscribe="responseTimeDataset" [observe]="responsetimeService.responseTimeDataset" [options]="areaOptions"> </area-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="panel panel-default ">
                            <div class="panel-heading text-center">
                                <h5>Network Usage</h5>
                            </div>
                            <div class="panel-body  text-center ">
                                <area-chart data-type="stacked"  data-id="applicationArea2" data-subscribe="networkTrafficDataset" [observe]="networkTrafficService.networkTrafficDataset" [options]="barOptions"
                                    data-dropdown="false"></area-chart>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h5>Request Time</h5>
                            </div>
                            <div class="panel-body  text-center ">
                                <line-chart data-id="applicationLine23" data-subscribe="requestTimeDataset" [observe]="requestTimeService.requestTimeDataset" [options]="lineOptions" data-dropdown="true"></line-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div class="alert-container">
                            <div class="clearfix alert-heading">
                                <h5 class="text-center">Containers</h5>
                            </div>
                            <div id="collapse1">
                                <div class="dataTable margintop">
                                    <p-dataTable [value]="containerList" [responsive]="true" [rows]="5" [paginator]="false">
                                        <p-column field="containerid" mytype="type" header="ContainerId" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a>
                                                    <u>{{item[col.field]}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="name" header="Name" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a>
                                                    <u>{{item[col.field]}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="image" header="Image" [sortable]="true"></p-column>
                                        <p-column field="port" header="Port" [sortable]="true"></p-column>
                                        <p-column field="status" header="Status" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="currentTab === 'operations'" class="tab-pane fade active in">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <div class="col-md-5">
                                <div class="alert-container">
                                    <div class="clearfix alert-heading">
                                        <h5 class="text-center">Application Information</h5>
                                    </div>
                                    <div id="collapse1">
                                        <div class="dataTable margintop">
                                            <p-dataTable [value]="applicationList" [responsive]="true" [rows]="5" [paginator]="false">
                                                <p-column field="name" mytype="type" header="Name" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <!--<a [routerLink]="(isWidget ? '/widget-monitoring/' : '/monitoring/')+(application.name || application.version)">-->
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="version" header="Version" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <!--<a [routerLink]="(isWidget ? '/widget-log-insight/' : '/log-insight/')+ (application.name || application.version) + '/' +application.issuer + '/' +application.license_exp">-->
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="issuer" header="Issuer" [sortable]="true"></p-column>
                                                <p-column field="license_exp" header="License Expiry" [sortable]="true"></p-column>
                                                <p-column field="project" header="Project" [sortable]="true"></p-column>
                                                <p-column field="role" header="Role" [sortable]="true"></p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="col-md-6">
                                        <div class="alert-container box-height">
                                            <div class="clearfix alert-heading">
                                                <h5 class="text-center">Application Facts</h5>
                                            </div>
                                            <div id="collapse1">
                                                <div class="panel-body">
                                                    <table class="table table-striped table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <th>Replication Count</th>
                                                                <td>
                                                                    <a [routerLink]="(isWidget ? '/widget-monitoring/' : '/monitoring/')+(applicationfactsList.application || applicationfactsList.id)">
                                                                        <u>{{applicationfactsList.replication_count}}</u>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Avg Usage</th>
                                                                <td>
                                                                    <a [routerLink]="(isWidget ? '/widget-log-insight/' : '/log-insight/')+(applicationfactsList.replication_count || applicationfactsList.avg_usage)">
                                                                        <u>{{applicationfactsList.avg_usage}}</u>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Port Numbers</th>
                                                                <td>{{applicationfactsList.port_numbers}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="alert-container box-height">
                                            <div class="clearfix alert-heading">
                                                <h5 class="text-center">Application Settings</h5>
                                            </div>
                                            <div id="collapse1">
                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th>CPU Low Threshold</th>
                                                            <td>
                                                                <a [routerLink]="(isWidget ? '/widget-monitoring/' : '/monitoring/')+(applicationsettingsList.cpu_low_threshold || applicationsettingsList.replication_count)">
                                                                    <u>{{applicationsettingsList.cpu_low_threshold}}</u>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Replication Count</th>
                                                            <td>
                                                                <a [routerLink]="(isWidget ? '/widget-log-insight/' : '/log-insight/')+(applicationsettingsList.cpu_low_threshold || applicationsettingsList.replication_count)">
                                                                    <u>{{applicationsettingsList.replication_count}}</u>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>CPU High Threshold</th>
                                                            <td>{{applicationsettingsList.cpu_high_threshold}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Replicaton Count</th>
                                                            <td>{{applicationsettingsList.replicaton_count}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5>Application Status</h5>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover ">
                                            <tbody *ngFor="let applicationstatus of applicationstatusList">
                                                <tr>
                                                    <td>User List</td>
                                                    <td> {{applicationstatus.active_user_count}}</td>
                                                </tr>
                                                <tr>
                                                    <td> Active user Count</td>
                                                    <td>{{applicationstatus.dead_locks}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Dead Locks</td>
                                                    <td>{{applicationstatus.buffer_busy_waits}}</td>
                                                </tr>
                                                <tr>
                                                    <td>buffer Busy Waits</td>
                                                    <td>{{applicationstatus.query_sessions}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Fast Recovery Usage</td>
                                                    <td>{{applicationstatus.fast_recovery_usage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Log File Completion</td>
                                                    <td>{{applicationstatus.log_file_completion}}</td>
                                                </tr>
                                                <tr>
                                                    <td>DB Sequential Read Wait</td>
                                                    <td>{{applicationstatus.db_Sequential_read_wait}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Direct Path Reads</td>
                                                    <td>{{applicationstatus.direct_path_reads}}</td>
                                                </tr>
                                                <tr>
                                                    <td>DB File Size</td>
                                                    <td>{{applicationstatus.db_file_size}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Rollbacks</td>
                                                    <td>{{applicationstatus.rollbacks}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Commits</td>
                                                    <td>{{applicationstatus.commits}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Up Time</td>
                                                    <td>{{applicationstatus.up_time}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Redo Writes</td>
                                                    <td>{{applicationstatus.redo_writes}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Parallel Writes</td>
                                                    <td>{{applicationstatus.parallel_writes}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5>Management Operations</h5>
                                    </div>
                                    <div class="panel-body">
                                        <div class="card-block rounded-0  text-center">
                                            <button type="button" class="btn op" role="button" data-toggle="tooltip" data-placement="top" title="Start a VM">
                            <span class="fa fa-play"></span>
                          </button><button type="button" class="btn op" data-toggle="tooltip"
                                                role="button" data-placement="top" title="Stop a VM">
                            <span class="fa fa-stop"></span>
                          </button><button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top"
                                                title="Restart a VM">
                            <span class="fa fa-repeat"></span>
                          </button><button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top"
                                                title="Delete a VM">
                            <span class="fa fa-window-close"></span>
                          </button><button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top"
                                                title="Update a VM">
                            <span class="fa fa-refresh"></span>
                          </button>
                                            <button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top" title="Create a Alert">
                            <span class="fa fa-bell"></span>
                          </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert-container">
                                    <div class="clearfix alert-heading">
                                        <h5 class="text-center">Disk Utilty</h5>
                                    </div>
                                    <div id="collapse1">
                                        <div class="dataTable margintop">
                                            <p-dataTable [value]="diskutilitiesList" [responsive]="true" [rows]="5" [paginator]="false">
                                                <p-column field="Name" mytype="type" header="Name" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <!--<a [routerLink]="(isWidget ? '/widget-monitoring/' : '/monitoring/')+(diskutilities.application || diskutilities.id)">-->
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="Total_Disk_Size" header="Total disk Size(GB)" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <!--<a [routerLink]="(isWidget ? '/widget-log-insight/' : '/log-insight/')+(diskutilities.Name || diskutilities.Total_Disk_Size) +  '/' +diskutilities.Disk_In_use">-->
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="Disk_In_use" header="Disk In Use" [sortable]="true"></p-column>
                                                <p-column field="Max_Usage" header="Max Usage" [sortable]="true"></p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                    <div class="panel panel-default">

                                        <div class="panel-heading">
                                            <h5 class="text-center">Request per VM</h5>
                                        </div>
                                        <div class="panel-body">
                                            <bar-chart data-type="stacked" data-subscribe="barDataset" [options]="barOptions"></bar-chart>
                                        </div>
                                    </div>
                                </div>-->
                            <!--<div class="col-md-6">
                                    <div class="panel panel-default text-center">

                                        <div class="panel-heading">
                                            <h5 class="text-center">VM Health</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="panel-body  text-center">
                                                    <pie-chart data-type="pie" data-subscribe="pieDataset" [options]="pieOptions"></pie-chart>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="panel-body text-center">
                                                    <h6></h6>
                                                    <pie-chart data-type="pie" data-subscribe="pieDataset" [options]="pieOptions"></pie-chart>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                            <h5 class="text-center">Response Time</h5>
                                        </div>
                                        <div class="panel-body">
                                            <line-chart data-subscribe="lineDataset" [options]="lineOptions" data-dropdown="false"></line-chart>
                                        </div>
                                    </div>
                                </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>