<div class="container-fluid" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" [ngClass]="{'active': currentTab === 'overall'}"><a (click)="changeTab('overall')">Overall</a>
        </li>
        <li role="presentation" [ngClass]="{'active': currentTab === 'server'}"><a (click)="changeTab('server')">Server</a>
        </li>
        <li role="presentation" [ngClass]="{'active': currentTab === 'application'}"><a (click)="changeTab('application')">Application</a>
        </li>
    </ul>
    <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/widget-monitoring-cnet">Home</a></li>
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/server-cnet">Server</a></li>
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/application-cnet">Application</a></li>
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/project">Project</a></li>
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/cluster">Cluster</a></li>
            </ol>
  </div>
        <div *ngIf="currentTab === 'overall'" class="tab-pane fade active in">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-6">
               <div class="alert-container">
                  <div class="clearfix alert-heading">
                                <h5 class="text-center col-md-12">Alerts
                                    <span class="alert-icon" [tooltip]="myTooltip">{{totalAlerts}}</span>
                                </h5>
                                <div>
                                    <tooltip-content #myTooltip>
                                        <span class="icon-critical"></span> Critical: {{totalCritical}}<br />
                                        <span class="icon-high"></span> High: {{totalHigh}}<br />
                                        <span class="icon-warning"></span> Warning: {{totalWarning}}
                                    </tooltip-content>
                                </div>
                            </div>
                  <div class="tableSearch">
                     <input type="text" class="form-control" #gfalertList pInputText size="50" placeholder="Search...">
                     <i class="fa fa-search filtersubmit"></i>
                  </div>
                  <div id="collapse1">
                     <div class="dataTable">
                        <p-dataTable [value]="alertList" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gfalertList" #dt>
                        <p-column field="ip_address" mytype="type" header="Host" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <a href="javascript:void(0)" (click)="getPage(item)">
                           <u>{{item[col.field]}}</u>
                           </a>
                        </template>
                        </p-column>
                        <p-column field="message" header="Description" [sortable]="true"></p-column>
                        <p-column field="severity" header="Priority" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <span class="{{item[col.field]}}">{{item[col.field]}}</span>
                        </template>
                        </p-column>
                        <p-column field="reportingtime" header="Time" [sortable]="true"></p-column>
                        </p-dataTable>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="alert-container">
                  <div class="clearfix alert-heading">
                     <h5 class="text-center">Events
                        <span class="alert-icon">{{totalEvents}}</span>
                     </h5>
                  </div>
                  <div class="tableSearch">
                     <input type="text" class="form-control" #gfeventList pInputText size="50" placeholder="Search...">
                     <i class="fa fa-search filtersubmit"></i>
                  </div>
                  <div id="collapse1">
                     <div class="dataTable">
                        <p-dataTable [value]="eventList" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gfeventList" #dt>
                        <p-column field="ip_address" mytype="type" header="Host" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <a href="javascript:void(0)" (click)="getPage(item)">
                           <u>{{item[col.field]}}</u>
                           </a>
                        </template>
                        </p-column>
                        <p-column  field="message" header="Description" [sortable]="true"></p-column>
                        <p-column field="eventtype" header="Event Type" [sortable]="true"></p-column>
                        <p-column  field="reportingtime" header="Time" [sortable]="true"></p-column>
                        </p-dataTable>
                     </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading  text-center">
                                <h5 class="text-center">Usage</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <h6>
                                            <u>Software</u>
                                        </h6>
                                        <pie-chart data-type="donut" data-id="overallPie1" data-subscribe="statusPieData" [observe]="pieDataService.statusPieData" [options]="pieOptions"></pie-chart>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h6>
                                            <u>Hardware</u>
                                        </h6>
                                        <pie-chart data-type="donut" data-id="overallPie2" data-subscribe="providerPieData" [observe]="pieDataService.providerPieData" 
                                         [options]="pieOptions"></pie-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Health</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel-body text-center">
                                        <h6>
                                            <u>Software</u>
                                        </h6>
                                        <pie-chart data-type="donut" data-id="overallPie3" data-subscribe="statusPieData" [observe]="pieDataService.statusPieData" [options]="pieOptions"></pie-chart>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel-body text-center">
                                        <h6>
                                            <u>Hardware</u>
                                        </h6>
                                        <pie-chart data-type="donut" data-id="overallPie4" data-subscribe="providerPieData" [observe]="pieDataService.providerPieData" [options]="pieOptions"></pie-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h5>CPU Load</h5>
                            </div>
                            <div class="panel-body">
                                 <area-chart data-id="overallLine89" data-subscribe="cpuLoadDataset"[observe]="cpuloadService.cpuLoadDataset"  [options]="areaOptions" data-dropdown="true"></area-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading text-center">
                                <h5>Request per VM</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <area-chart data-subscribe="requestPerVmDataset" data-id="overallArea2" [observe]="requestPerVMService.requestPerVmDataset" [options]="areaOptions" data-dropdown="true"></area-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading text-center">
                                <h5>Network Latency</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <area-chart data-subscribe="networkTrafficDataset" data-id="overallArea1" [observe]= "networkTrafficService.networkTrafficDataset" [options]="areaOptions" data-dropdown="true"></area-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading text-center">
                                <h5>Response Time</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <line-chart data-id="overallLine1" data-subscribe="responseTimeDataset" [observe]="responsetimeService.responseTimeDataset" [options]="lineOptions" data-dropdown="true"></line-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="currentTab === 'server'" class="tab-pane fade active in">
            <div class="container-fluid">

                
                <div class="row">
                    <div class="col-md-6">
               <div class="alert-container">
                  <div class="clearfix alert-heading">
                     <h5 class="text-center col-md-12">
                        Alerts
                        <span class="alert-icon" [tooltip]="myTooltip">{{totalAlertsSer}}</span>
                     </h5>
                     <div>
                        <tooltip-content #myTooltip>
                           <span class="icon-critical"></span> Critical: {{totalCriticalSer}}<br />
                           <span class="icon-high"></span> High: {{totalHighSer}}<br />
                           <span class="icon-warning"></span> Warning: {{totalWarningSer}}
                        </tooltip-content>
                     </div>
                  </div>
                  <div class="tableSearch">
                     <input type="text" class="form-control" #gfalertsServer pInputText size="50" placeholder="Search...">
                     <i class="fa fa-search filtersubmit"></i>
                  </div>
                  <div id="collapse1">
                     <div class="dataTable">
                        <p-dataTable [value]="alertsServer" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gfalertsServer" #dt>
                        <p-column  field="ip_address" mytype="type" header="Host" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <a href="javascript:void(0)" (click)="getPage(item)">
                           <u>{{item[col.field]}}</u>
                           </a>
                        </template>
                        </p-column>
                        <p-column  field="message" header="Description" [sortable]="true"></p-column>
                        <p-column  field="severity" header="Priority" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <span class="{{item[col.field]}}">{{item[col.field]}}</span>
                        </template>
                        </p-column>
                        <p-column  field="reportingtime" header="Time" [sortable]="true"></p-column>
                        </p-dataTable>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="alert-container">
                  <div class="clearfix alert-heading">
                     <h5 class="text-center">Events
                        <span class="alert-icon">{{totalEventsSer}}</span>
                     </h5>
                  </div>
                  <div class="tableSearch">
                     <input type="text" class="form-control" #gfeventsServer pInputText size="50" placeholder="Search...">
                     <i class="fa fa-search filtersubmit"></i>
                  </div>
                  <div id="collapse1">
                     <div class="dataTable">
                        <p-dataTable [value]="eventsServer" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gfeventsServer" #dt>
                        <p-column field="ip_address" mytype="type" header="Host" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <a href="javascript:void(0)" (click)="getPage(item)">
                           <u>{{item[col.field]}}</u>
                           </a>
                        </template>
                        </p-column>
                        <p-column field="message" header="Description" [sortable]="true"></p-column>
                        <p-column field="eventtype" header="Event Type" [sortable]="true"></p-column>
                        <p-column  field="reportingtime" header="Time" [sortable]="true"></p-column>
                        </p-dataTable>
                     </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">VM Health</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <h6>
                                            <u>Hardware</u>
                                        </h6>
                                        <pie-chart data-id="serverPie1" data-type="donut" data-subscribe="statusPieData" [observe]="pieDataService.statusPieData" [options]="pieOptions"></pie-chart>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h6>
                                            <u>Software</u>
                                        </h6>
                                        <pie-chart data-id="serverPie2" data-type="donut" data-subscribe="providerPieData" [observe]="pieDataService.providerPieData" [options]="pieOptions"></pie-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="text-center">Request per VM</h5>
                            </div>
                            <div class="panel-body">
                                <bar-chart data-id="serverBar1" data-type="stacked" data-subscribe="requestPerVmDataset" [observe]="requestPerVMService.requestPerVmDataset" [options]="barOptions" data-dropdown="true"></bar-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Response Time</h5>
                            </div>
                            <div class="panel-body">
                                <line-chart data-id="serverLine1" data-subscribe="responseTimeDataset" [observe]="responsetimeService.responseTimeDataset" [options]="lineOptions" data-dropdown="true"></line-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="text-center">Memory Size</h5>
                            </div>
                            <div class="panel-body">
                                <line-chart data-id="serverline2" data-subscribe="memorySizeDataset" [observe]="memorySizeService.memorySizeDataset" [options]="lineOptions" data-dropdown="true"></line-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <div *ngIf="currentTab === 'application'" class="tab-pane fade active in">
        <div class="container-fluid">
           
                <div class="row">
                    <div class="col-md-6">
               <div class="alert-container">
                  <div class="clearfix alert-heading">
                     <h5 class="text-center col-md-12">
                        Alerts
                        <span class="alert-icon" [tooltip]="myTooltip">{{totalAlertsApp}}</span>
                     </h5>
                     <div>
                        <tooltip-content #myTooltip>
                           <span class="icon-critical"></span> Critical: {{totalCriticalApp}}<br />
                           <span class="icon-high"></span> High: {{totalHighApp}}<br />
                           <span class="icon-warning"></span> Warning: {{totalWarningApp}}
                        </tooltip-content>
                     </div>
                  </div>
                  <div class="tableSearch">
                     <input type="text" class="form-control" #gfalertsApplication pInputText size="50" placeholder="Search...">
                     <i class="fa fa-search filtersubmit"></i>
                  </div>
                  <div id="collapse1">
                     <div class="dataTable">
                        <p-dataTable [value]="alertsApplication" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gfalertsApplication" #dt>
                        <p-column  field="ip_address" mytype="type" header="Host" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <a href="javascript:void(0)" (click)="getPage(item)">
                           <u>{{item[col.field]}}</u>
                           </a>
                        </template>
                        </p-column>
                        <p-column  field="message" header="Description" [sortable]="true"></p-column>
                        <p-column  field="severity" header="Priority" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <span class="{{item[col.field]}}">{{item[col.field]}}</span>
                        </template>
                        </p-column>
                        <p-column  field="reportingtime" header="Time" [sortable]="true"></p-column>
                        </p-dataTable>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="alert-container">
                  <div class="clearfix alert-heading">
                     <h5 class="text-center">Events
                        <span class="alert-icon">{{totalEventsApp}}</span>
                     </h5>
                  </div>
                  <div class="tableSearch">
                     <input type="text" class="form-control" #gfeventsApplication pInputText size="50" placeholder="Search...">
                     <i class="fa fa-search filtersubmit"></i>
                  </div>
                  <div id="collapse1">
                     <div class="dataTable">
                        <p-dataTable [value]="eventsApplication" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gfeventsApplication" #dt>
                        <p-column  field="ip_address" mytype="type" header="Host" [sortable]="true">
                        <template let-col let-item="rowData" pTemplate="body">
                           <a href="javascript:void(0)" (click)="getPage(item)">
                           <u>{{item[col.field]}}</u>
                           </a>
                        </template>
                        </p-column>
                        <p-column field="message" header="Description" [sortable]="true"></p-column>
                        <p-column field="eventtype" header="Event Type" [sortable]="true"></p-column>
                        <p-column  field="reportingtime" header="Time" [sortable]="true"></p-column>
                        </p-dataTable>
                     </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Response Time</h5>
                            </div>
                            <div class="panel-body">
                                <line-chart data-subscribe="responseTimeDataset" data-id="applicationLine2" [observe]="responsetimeService.responseTimeDataset" [options]="lineOptions" data-dropdown="false"></line-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">VM Health</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>
                                            <u>Hardware</u>
                                        </h6>
                                        <pie-chart data-id="applicationPie1" data-type="donut" data-subscribe="statusPieData" [observe]="pieDataService.statusPieData" [options]="pieOptions"></pie-chart>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>
                                            <u>Software</u>
                                        </h6>
                                        <pie-chart data-id="applicationPie2" data-type="donut" data-subscribe="providerPieData" [observe]="pieDataService.providerPieData" [options]="pieOptions"></pie-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Network Latency</h5>
                            </div>
                            <div class="panel-body">
                                <area-chart data-id="applicationArea1" [observe]="networkTrafficService.networkTrafficDataset" [options]="areaOptions" data-dropdown="false"></area-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Request Per VM</h5>
                            </div>
                            <div class="panel-body">
                                <line-chart data-id="applicationLine1" [observe]="requestPerVMService.requestPerVmDataset" [options]="lineOptions" data-dropdown="false"></line-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
</div>