<div class="container-fluid" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" [ngClass]="{'active': currentTab === 'dashboard'}"><a (click)="changeTab('dashboard')">Dashboard</a>
        </li>
        <li role="presentation" [ngClass]="{'active': currentTab === 'operations'}"><a (click)="changeTab('operations')">Operations</a>
        </li>

    </ul>
    <div>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/widget-monitoring-cnet">Home</a></li>
              <li class="breadcrumb-item"><a href="http://localhost:3000/#/server-cnet">Server</a></li>
            </ol>
  </div>
    <div class="tab-content">
        <div *ngIf="currentTab === 'dashboard'" class="tab-pane fade active in">
            <div class="container-fluid">
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert-container">
                            <div class="clearfix alert-heading">
                                <h5 class="text-center col-md-12">
                                    Alerts
                                    <span class="alert-icon" [tooltip]="myTooltip">{{totalAlerts}}</span>
                                </h5>
                                <div>
                                    <tooltip-content #myTooltip>
                                        <span class="icon-critical"></span> Critical: {{totalCritical}}<br />
                                        <span class="icon-high"></span> High: {{totalHigh}}<br />
                                        <span class="icon-warning"></span> Warning: {{totalWarning}}
                                    </tooltip-content>
                                </div>
                            </div>
                            <div class="tableSearch">
                                <input type="text" class="form-control" #gbAlertList pInputText size="50" placeholder="Search...">
                                <i class="fa fa-search filtersubmit"></i>
                            </div>
                            <div id="collapse1">
                                <div class="dataTable">
                                    <p-dataTable [value]="alertList" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gbAlertList" #dt>
                                        <p-column field="ip_address" mytype="type" header="Host" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a href="javascript:void(0)">
                                                    <u>{{ip_address}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="message" header="Description" [sortable]="true"></p-column>
                                        <p-column field="severity" header="Priority" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <span class="{{item[col.field]}}">{{item[col.field]}}</span>
                                            </template>
                                        </p-column>
                                        <p-column field="reportingtime" header="Time" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert-container">
                            <div class="clearfix alert-heading">
                                <h5 class="text-center">Events
                                    <span class="alert-icon">{{totalEvents}}</span>
                                </h5>
                            </div>
                            <div class="tableSearch">
                                <input type="text" class="form-control" #gbEvent pInputText size="50" placeholder="Search...">
                                <i class="fa fa-search filtersubmit"></i>
                            </div>
                            <div id="collapse1">
                                <div class="dataTable">
                                    <p-dataTable [value]="eventList" [responsive]="true" [rows]="5" [paginator]="true" [globalFilter]="gbEvent" #dt>
                                        <p-column field="ip_address" mytype="type" header="Host" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a href="javascript:void(0)">
                                                    <u>{{ip_address}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="message" header="Description" [sortable]="true"></p-column>
                                        <p-column field="eventtype" header="Event Type" [sortable]="true"></p-column>
                                        <p-column field="reportingtime" header="Time" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Request Time</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <!--<h6>Table</h6>-->
                                <!--<pie-chart data-type="pie" data-subscribe="pieDataset" [options]="pieOptions"></pie-chart>-->
                                <line-chart data-id="serverLine14" [observe]="requestTimeService.requestTimeDataset" [options]="lineOptions" data-dropdown="true"></line-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default ">
                            <div class="panel-heading text-center">
                                <h5>CPU Load</h5>
                            </div>
                            <div class="panel-body  text-center ">
                                <area-chart data-id="serverLine19" 
                                [observe]="cpuloadService.cpuLoadDataset" [options]="areaOptions" data-dropdown="true"></area-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h5 class="text-center">Memory Usage(GB)</h5>
                            </div>
                            <div class="panel-body  text-center">
                                <!--<h6>Table</h6>-->
                                <!--<pie-chart data-type="pie" data-subscribe="pieDataset" [options]="pieOptions"></pie-chart>-->
                                <line-chart data-id="serverline1" data-type="line" [observe]="memorySizeService.memorySizeDataset" [options]="lineOptions" data-dropdown="false">
                                </line-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h5>Request Time</h5>
                            </div>
                            <div class="panel-body">
                                <line-chart data-id="serverRequest1"  [observe]="requestTimeService.requestTimeDataset" [options]="lineOptions" data-dropdown="true"></line-chart>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="alert-container">
                            <div class="clearfix alert-heading">
                                <h5 class="text-center">Disk Utilization</h5>
                            </div>
                            <div id="collapse1">
                                <div class="dataTable margintop">
                                    <p-dataTable [value]="diskutilitiesList" [responsive]="true" [rows]="5" [paginator]="false">
                                        <p-column field="Name" mytype="type" header="Name" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <!--<a [routerLink]="(isWidget ? '/widget-monitoring/' : '/monitoring/')+(diskutilities.application || diskutilities.id)">-->
                                                <a>
                                                    <u>{{item[col.field]}}</u>
                                                </a>
                                                <!--</a>-->
                                            </template>
                                        </p-column>
                                        <p-column field="Total_Disk_Size" header="Total Disk Size(GB)" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <!--<a [routerLink]="(isWidget ? '/widget-log-insight/' : '/log-insight/')+(diskutilities.Name || diskutilities.Total_Disk_Size) +  '/' +diskutilities.Disk_In_use">-->
                                                <a>
                                                    <u>{{item[col.field]}}</u>
                                                </a>
                                                <!--</a>-->
                                            </template>
                                        </p-column>
                                        <p-column field="Disk_In_use" header="Disk In Use" [sortable]="true"></p-column>
                                        <p-column field="Max_Usage" header="Max Usage" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert-container">
                            <div class="clearfix alert-heading">
                                <h5 class="text-center">Containers</h5>
                            </div>
                            <div id="collapse1">
                                <div class="dataTable margintop">
                                    <p-dataTable [value]="containerList" [responsive]="true" [rows]="5" [paginator]="false">
                                        <p-column field="containerid" mytype="type" header="ContainerId" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a>
                                                    <u>{{item[col.field]}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="name" header="Name" [sortable]="true">
                                            <template let-col let-item="rowData" pTemplate="body">
                                                <a>
                                                    <u>{{item[col.field]}}</u>
                                                </a>
                                            </template>
                                        </p-column>
                                        <p-column field="image" header="Image" [sortable]="true"></p-column>
                                        <p-column field="port" header="Port" [sortable]="true"></p-column>
                                        <p-column field="status" header="Status" [sortable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div *ngIf="currentTab === 'operations'" class="tab-pane fade active in">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5>Server Information</h5>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>Disk</th>
                                                    <td>
                                                        {{serverinfoItem.disk/10000}}GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Domain</th>
                                                    <td>{{serverinfoItem.domain}}</td>
                                                </tr>
                                                <tr>
                                                    <th>FQDN</th>
                                                    <td>{{serverinfoItem.fqdn}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>HostName</th>
                                                    <td>{{serverinfoItem.hostname}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>MAC Address</th>
                                                    <td>{{serverinfoItem.mac_address}}</td>
                                                </tr>
                                                <tr>
                                                    <th>NIC's</th>
                                                    <td>{{serverinfoItem.number_of_nics}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Operating System</th>
                                                    <td>{{serverinfoItem.os}}</td>
                                                </tr>
                                                <tr>
                                                    <th>OS Family</th>
                                                    <td>{{serverinfoItem.os_family}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Private IP</th>
                                                    <td>{{serverinfoItem.private_info}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Public_ip</th>
                                                    <td>{{serverinfoItem.public_ip}}</td>
                                                </tr>
                                                <tr>
                                                    <th>RAM</th>
                                                    <td>{{serverinfoItem.ram}}</td>
                                                </tr>
                                                <tr>
                                                    <th>STATUS</th>
                                                    <td>{{serverinfoItem.status}}</td>
                                                </tr>
                                                <tr>
                                                    <th>VCPU's</th>
                                                    <td>{{serverinfoItem.vcpus}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5>Management Operations</h5>
                                    </div>
                                    <div class="panel-body">
                                        <div class="card-block rounded-0  text-center">
                                            <button type="button" class="btn op" role="button" data-toggle="tooltip" data-placement="top" title="Start a VM">
                            <span class="fa fa-play"></span>
                          </button><button type="button" class="btn op" data-toggle="tooltip"
                                                role="button" data-placement="top" title="Stop a VM">
                            <span class="fa fa-stop"></span>
                          </button><button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top"
                                                title="Restart a VM">
                            <span class="fa fa-repeat"></span>
                          </button>
                                            <button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top" title="Delete a VM">
                            <span class="fa fa-window-close"></span>
                          </button>
                                            <button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top" title="Update a VM">
                            <span class="fa fa-refresh"></span>
                          </button>
                                            <button type="button" class="btn op" data-toggle="tooltip" role="button" data-placement="top" title="Create a Alert">
                            <span class="fa fa-bell"></span>
                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <!--<div class="panel panel-default">
                           <div class="panel-heading text-center">
                               <h5>Server Status</h5>
                           </div>
                           <div class="panel-body">
                           
                           
                           </div>
                           </div>-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading text-center">
                                                <h5>Server Facts</h5>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th>Active Users</th>
                                                            <td>
                                                                <a>
                                                                    <u>{{serverfactsList.active_users || serverfactsList.processes_running}}</u>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th> Processes Running</th>
                                                            <td>
                                                                <a>
                                                                    <u>{{serverfactsList.processes_running}}</u>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Status</th>
                                                            <td>{{serverfactsList.status}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Active Since</th>
                                                            <td>{{serverfactsList.active_since}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Avg CPU Util</th>
                                                            <td>{{serverfactsList.avg_cpu_util}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Avg Memory Util</th>
                                                            <td>{{serverfactsList.avg_memory_util}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading text-center">
                                                <h5>Process Details</h5>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th width="40%">Process ID</th>
                                                            <td>
                                                                <a>
                                                                    <u>{{processdetailsItem.processID}}</u>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>User</th>
                                                            <td>
                                                                <a>
                                                                    <u>{{processdetailsItem.user}}</u>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Program</th>
                                                            <td>{{processdetailsItem.program}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Sent</th>
                                                            <td>{{processdetailsItem.sent}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Sent</th>
                                                            <td>{{processdetailsItem.received}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Received</th>
                                                            <td>{{processdetailsItem.user}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert-container">
                                    <div class="clearfix alert-heading">
                                        <h5 class="text-center">Application Details</h5>
                                    </div>
                                    <div id="collapse1">
                                        <div class="dataTable margintop">
                                            <p-dataTable [value]="applicationList" [responsive]="true" [rows]="5" [paginator]="false">
                                                <p-column field="name" mytype="type" header="Name" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="project" mytype="type" header="Version" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="issuer" header="Issuer" [sortable]="true"></p-column>
                                                <p-column field="license_exp" header="License Expiry Date" [sortable]="true"></p-column>
                                                <p-column field="project" header="Project" [sortable]="true"></p-column>
                                                <p-column field="role" header="Role" [sortable]="true"></p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert-container">
                                    <div class="clearfix alert-heading">
                                        <h5 class="text-center">Application Details</h5>
                                    </div>
                                    <div id="collapse1">
                                        <div class="dataTable margintop">
                                            <p-dataTable [value]="processList" [responsive]="true" [rows]="5" [paginator]="false">
                                                <p-column field="CPU" mytype="type" header="CPU" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="MEM" mytype="type" header="Memory" [sortable]="true">
                                                    <template let-col let-item="rowData" pTemplate="body">
                                                        <a>
                                                            <u>{{item[col.field]}}</u>
                                                        </a>
                                                    </template>
                                                </p-column>
                                                <p-column field="PID" header="PID" [sortable]="true"></p-column>
                                                <p-column field="PPID" header="PPID" [sortable]="true"></p-column>
                                                <p-column field="USER" header="USER" [sortable]="true"></p-column>
        
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5> Map </h5>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12" style="width:1200px; height:1200px">
                                                <topologytree-chart data-id="topo-tree-1" [observe]="topologytreeDatasetService.topologyTreeDataset" [options]="topologytreeOptions"></topologytree-chart>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="currentTab === 'map'" class="tab-pane fade active in">
            <topology-chart data-id="topo-tree-2" data-subscribe="topologyDataset" [options]="topologyOptions"></topology-chart>
        </div> -->
    </div>
</div>